.content-wrapper {
    display: flex;
    gap: 24px;
    margin: 0 auto;
    margin-top: 35px;
    max-width: 1600px;
}

/* Фильтры (1-й элемент) */
.content-wrapper > :nth-child(1) {
    flex-shrink: 0;
    width: 320px;
}

/* Список заказов (2-й элемент) */
.content-wrapper > :nth-child(2) {
    flex: 1;
    min-width: 556px;
}

/* Поддержка (3-й элемент) */
.content-wrapper > :nth-child(3) {
    flex-shrink: 0;
    margin-top: 27px;
    width: 335px;
}