input {
    width: 300px;
    height: 46px;
    border-radius: 10px;
    border: #D4D4D4 solid 1px;
    padding-left: 20.5px;
    font-size: 14px;
    box-sizing: border-box; /* Чтобы padding не увеличивал ширину */
    transition: all 0.3s ease;
}

input:hover {
    border-color: #342BE2; 
    transform: translateY(-1px);
    /* box-shadow: 0 0 5px rgba(52, 43, 226, 0.2); // Добавляем легкую тень */
}

input:focus {
    outline: none;
    border-color: #342BE2;
    box-shadow: 0 0 0 3px rgba(52, 43, 226, 0.2);
    transform: translateY(-1px);
}

p {
    margin: 0;
    margin-bottom: 8px;
    font-size: 13px;
    font-weight: 500;
    color: #424242;
    transition: color 0.3s ease;
}
