/* Затемнённый фон */
.redirect-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Карточка модального окна */
.redirect-modal-content {
  background: #ffffff;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  padding: 24px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: modalFadeIn 0.2s ease;
}

/* Заголовок */
.redirect-modal-title {
  font-size: 20px;
  font-weight: 600;
  color: #342BE2;
  margin: 0 0 8px 0;
}

.redirect-modal-order {
  font-size: 14px;
  color: #666;
  margin: 0 0 20px 0;
  padding-bottom: 12px;
  border-bottom: 1px solid #eee;
}

/* Поле выбора ПВЗ */
.redirect-modal-field {
  margin-bottom: 24px;
}

.redirect-modal-field label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #333;
}

.redirect-modal-select {
  width: 100%;
    height: 46px;
    border-radius: 10px;
    border: #D4D4D4 solid 1px;
    padding-left: 20.5px;
    font-size: 14px;
    box-sizing: border-box; /* Чтобы padding не увеличивал ширину */
    transition: all 0.3s ease;
}

.redirect-modal-select:hover {
    border-color: #342BE2; 
    transform: translateY(-1px);
    /* box-shadow: 0 0 5px rgba(52, 43, 226, 0.2); // Добавляем легкую тень */
}

.redirect-modal-select:focus {
    outline: none;
    border-color: #342BE2;
    box-shadow: 0 0 0 3px rgba(52, 43, 226, 0.2);
    transform: translateY(-1px);
}

.redirect-modal-btn.confirm {
  padding: 12.15px;
    width: 48%;
    border: none;
    margin-right: 4%;
    height: 46px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    color: #fff;
    background-color: #342BE2;
    border-radius: 10px;
    box-sizing: border-box;
}

.redirect-modal-btn.confirm:hover {
  background-color: #2019b0;
  transform: translateY(-1px);
}

.redirect-modal-btn.cancel {
  padding: 12.15px;
    border: none;
    height: 46px;
    width: 48%;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    color: #342BE2;
    background-color: transparent;
    border: #342BE2 solid 1px;
    border-radius: 10px;
    box-sizing: border-box;
}

.redirect-modal-btn.cancel:hover {
  background-color: #e0e0e0;
}