.button {
    padding: 12.15px;
    margin-top: 13px;
    border: none;
    width: 300px;
    height: 46px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    color: #fff;
    background-color: #342BE2;
    border-radius: 10px;
    box-sizing: border-box;
}

.button:hover {
    opacity: 0.8;
    transform: translateY(-1px);
}

.button.active {
    background: #3e6ae1;
}