#root {
  max-width: 1320px;
  margin: 0 auto;
  /* padding: 2rem; */
  font-family: 'Inter', 'Segoe UI', 'Roboto', sans-serif;
}

.app-container {
    min-height: 100vh;
    background-color: #F0EFF9;
}



